

<!-- Container -->
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="grey-box-icon border-box" >

        <div class="box-vnits-tuyensinh"><span class="box-a">Tuyển Sinh</span></div><!--icon box top -->

        <ul class="list-unstyled list-spaces text-left1">
          <% all_posts_tuyen_sinh.each do |post| %>
              <li style="position:relative;"><%= link_to truncate(post.name,:length=>75),post_path(post) %>
                 <span class="new_class"></span>
              </li>

          <% end %>
        </ul>
        <p><em><%= link_to "Xem thêm ..." ,posts_showalltuyensinh_path%></em></p>
      </div><!--grey box -->
    </div><!--/span3-->
    <div class="col-md-3">
      <div class="grey-box-icon" >
        <div class="box-vnits-thongbao"><span class="box-a">Thông Báo</span></div><!--icon box top -->

        <ul class="list-unstyled list-spaces text-left1">
          <% all_posts_thong_bao.each do |post| %>
              <li><%= link_to truncate(post.name,:length=>75),post_path(post) %></li>
          <% end %>


        </ul>
        <p><em><%= link_to "Xem thêm ..." ,posts_showallthongbao_path %></em></p>
      </div><!--grey box -->
    </div><!--/span3-->
    <div class="col-md-3">
      <div class="grey-box-icon">
        <div class="box-vnits-tintuc"><span class="box-a" >Tin tức</span></div><!--icon box top -->

        <ul class="list-unstyled list-spaces text-left1">
          <% all_posts_tin_tuc.each do |post| %>
              <li><%= link_to truncate(post.name,:length=>75),post_path(post) %></li>
          <% end %>
        </ul>
        <p><em><%= link_to "Xem thêm ..." ,posts_showalltintuc_path%></em></p>
      </div><!--grey box -->
    </div><!--/span3-->
    <div class="col-md-3">
      <div class="grey-box-icon">
        <div class="box-vnits-tuyendung"><span class="box-a">Tuyển Dụng</span></div><!--icon box top -->

        <ul class="list-unstyled list-spaces text-left1">
          <% all_posts_tuyen_dung.each do |post| %>

              <li><%= link_to truncate(post.name,:length=>75),post_path(post) %></li>
          <% end %>
        </ul>
        <p><em><%= link_to "Xem thêm ..." ,posts_showalltuyendung_path%></em></p>

      </div><!--grey box -->
    </div><!--/span3-->
  </div>
</div>