<!-- Container -->
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="grey-box-icon border-box">
        <div class="icon-box-top grey-box-icon-pos">
          <img src="<%= image_url '1.png' %>" alt="" />
        </div><!--icon box top -->
        <h4>TUYỂN SINH</h4>
        <ul class="list-unstyled list-spaces text-left">
        <% @postTuyenSinh.each do |post| %>
          <li><%= link_to post.title,post %></li>
        <% end %>
        </ul>
        <p><a href="#"><em>Xem thêm...</em></a></p>
      </div><!--grey box -->
    </div><!--/span3-->
    <div class="col-md-3">
      <div class="grey-box-icon">
        <div class="icon-box-top grey-box-icon-pos">
          <img src="<%= image_url '2.png' %>" alt="" />
        </div><!--icon box top -->
        <h4>THÔNG BÁO</h4>
        <ul class="list-unstyled list-spaces text-left">
          <% @postTuyenSinh.each do |post| %>
          <li><%= link_to post.title,post %></li>
          <% end %>
        </ul>
        <p><a href="#"><em>Xem thêm...</em></a></p>
      </div><!--grey box -->
    </div><!--/span3-->
    <div class="col-md-3">
      <div class="grey-box-icon">
        <div class="icon-box-top grey-box-icon-pos">
          <img src="<%= image_url '3.png' %>" alt="" />
        </div><!--icon box top -->
        <h4>TIN TỨC</h4>
        <ul class="list-unstyled list-spaces text-left">
          <% @postTinTuc.each do |post| %>
          <li><%= link_to post.title,post %></li>
        <% end %>
        </ul>
        <p><a href="#"><em>Xem thêm...</em></a></p>
      </div><!--grey box -->
    </div><!--/span3-->
    <div class="col-md-3">
      <div class="grey-box-icon">
        <div class="icon-box-top grey-box-icon-pos">
          <img src="<%= image_url '4.png' %>" alt="" />
        </div><!--icon box top -->
        <h4>TUYỂN DỤNG</h4>
        <ul class="list-unstyled list-spaces text-left">
          <% @postTuyenDung.each do |post| %>
          <li><%= link_to post.title,post %></li>
        <% end %>
        </ul>
        <p><a href="#"><em>Xem thêm...</em></a></p>

      </div><!--grey box -->
    </div><!--/span3-->
  </div>
</div>