<body>

<% all_popup.each do |p| %>
<div class="modal fade bs-example-modal-lg" id="myModal" tabindex="-1" role="dialog"  aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title" id="myModalLabel"><%=p.caption %></h4>
      </div>
      <div class="modal-body">
        <%= raw(p.content) %>
      </div>

    </div>
  </div>
</div>
<% end %>
<!-- Fixed navbar -->
<div class="navbar navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <!-- Button for smallest screens -->
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
      <a class="navbar-brand" href="<%= root_path  %>">
        <%= image_tag "logo.png" %></a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav pull-right mainNav">





        <li><a href="<%= root_path  %>">Trang Chủ</a></li>
        <% all_menu.each do |menu| %>
            <li class="dropdown">
              <% if all_sub_menu(menu.id).length>0 %>
                  <%= link_to "#{menu.name}<b class='caret'></b>".html_safe ,menu_path(menu),{:class => "dropdown-toggle","data-toggle" => "dropdown" }
                  %>
              <% else%>
                  <%= link_to menu.name ,"#"%>
              <% end %>

              <ul class="dropdown-menu">
                <% all_sub_menu(menu.id).each do |sub| %>

                    <% if all_sub_menu(sub.id).length>0 %>
                        <li class="dropdown-submenu">
                          <%= link_to sub.name,menu_path(sub)%>
                          <ul class="dropdown-menu">
                            <% all_sub_menu(sub.id).each do |sub1| %>

                                <li ><%= link_to sub1.name,menu_path(sub1) %></li>
                            <% end %>
                          </ul>
                        </li>
                    <% else%>
                        <li>  <%= link_to sub.name ,menu_path(sub)%></li>
                    <% end %>




                <% end %>
              </ul>
            </li>
        <% end %>

        <li><%= link_to "Liên Hệ",:controller => "contacts",:action => "new" %></li>

      </ul>
    </div>
    <!--/.nav-collapse -->
  </div>
</div>
<!-- /.navbar -->

