<body>
<!-- Fixed navbar -->
<div class="navbar navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <!-- Button for smallest screens -->
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
      <a class="navbar-brand" href="<%= root_path  %>">
        <%= image_tag "logo.png" %></a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav pull-right mainNav">
        <li><a href="<%= root_path  %>">Trang Chủ</a></li>
        <li class="dropdown">
          <a href="" class="dropdown-toggle" data-toggle="dropdown">Giới Thiệu <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <% all_gioithieu.each do |depr| %>
              <li><%= link_to depr.name,category_path(depr) %></li>
            <% end %>
          </ul>
        </li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Phòng Ban <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <% all_phongban.each do |depr| %>
              <li><%= link_to depr.name,department_path(depr) %></li>
            <% end %>
          </ul>
        </li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Khoa <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <% all_khoa.each do |depr| %>
              <li><%= link_to depr.name,department_path(depr) %></li>
            <% end %>
          </ul>
        </li>


        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">TUYỂN SINH <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="sidebar-right.html">Right Sidebar</a></li>
            <li><a href="#">Thư ngỏ của Hiệu trưởng</a></li>
            <li><a href="#">Dummy Link2</a></li>
            <li><a href="#">Dummy Link3</a></li>
          </ul>
        </li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">ĐÀO TẠO <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="sidebar-right.html">Right Sidebar</a></li>
            <li><a href="#">Thư ngỏ của Hiệu trưởng</a></li>
            <li><a href="#">Dummy Link2</a></li>
            <li><a href="#">Dummy Link3</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">SINH VIÊN <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="sidebar-right.html">THỜI KHOÁ BIỂU</a></li>
            <li><a href="#">TRANG SINH VIÊN</a></li>
            <li><a href="#">ĐĂNG KÝ MÔN HỌC</a></li>
            <li><a href="#">XEM ĐIỂM</a></li>
          </ul>
        </li>



        <!--
        <li><a href="videos.html">Videos</a></li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Pages <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li><a href="sidebar-right.html">Right Sidebar</a></li>
                <li><a href="#">Dummy Link1</a></li>
                <li><a href="#">Dummy Link2</a></li>
                <li><a href="#">Dummy Link3</a></li>
            </ul>
        </li>
-->
        <li><%= link_to "Liên Hệ",:controller => "contacts",:action => "new" %></li>

      </ul>
    </div>
    <!--/.nav-collapse -->
  </div>
</div>
<!-- /.navbar -->