# encoding: utf-8
<%= javascript_include_tag "jquery.min" %>
<%= javascript_include_tag "jquery.mobile.customized.min" %>
<%= javascript_include_tag "jquery.easing.1.3" %>
<%= javascript_include_tag "camera.min" %>
<script>
    jQuery(function(){

        jQuery('#camera_wrap').camera({
            fx: 'random',
            transPeriod: 500,
            time: 2000,
            height: '400',
            loader: 'false',
            pagination: true,
            thumbnails: true,
            hover: true,
            playPause: true,
            navigation: true,
            opacityOnGrid: false,
            imagePath: 'assets/images/'

        });

    });

</script>
<header id="head">
  <div class="container">


    <div class="fluid_container">
      <div class="camera_wrap camera_emboss pattern_1" id="camera_wrap">
        <% all_slider.each do |s| %>
        <div data-link="<%= s.link %>" data-target="_blank" data-thumb="<%= image_url s.picture.url(:thumb) %>" data-src="<%= image_url s.picture.url %>">
          <div class="camera_caption" ><%=s.topcaption %></div>
        </div>
        <% end %>

      </div><!-- #camera_wrap_3 -->

    </div><!-- .fluid_container -->
  </div>
</header>