
 	<header id="head" class="secondary">
            <div class="container">
                    <h1><%= @department.name%></h1>
                    <p><%= @department.slogan%></p>
                </div>
    </header>


    <!-- container -->
    <section class="container">
        <div class="row">
            <!-- main content -->
            <section class="col-sm-8 maincontent">
                <%= raw @department.description %>
            </section>
            <!-- /main -->

            <!-- Sidebar -->
            <aside class="col-sm-4 sidebar sidebar-right">
                <% @category.each do |cate| %>
                    <% if !cate.posts.where("department_id=?",@department.id).empty? %>
                        <div class="panel  box-shadow box-radius">
                            <h4><%= cate.name %></h4>
                            <ul class="list-unstyled list-spaces">
                                <% cate.posts.where("department_id=?",@department.id).each do |post| %>
                                  <li><%= link_to post.name,post_path(post) %><br>
                                    <span class="small text-muted"><%= post.summary %></span>
                                  </li>
                                <% end %>
                            </ul>
                        </div>
                    <% end %>
                <% end %>
            </aside>
            <!-- /Sidebar -->

        </div>
    </section>
    <!-- /container -->