%header#head.secondary
  .container
    %h1= @department.name
    %p= @department.slogan
%section.container
  .row
    %section.col-sm-8.maincontent
      = raw @department.description
    %aside.col-sm-4.sidebar.sidebar-right.box-shadow.box-radius{:style => "margin-top: 30px;"}
      - @category.each do |cate|
        - if !cate.posts.where("department_id=?",@department.id).empty?
          .panel
            %h4.tag-h4= cate.name
            %ul.list-unstyled.list-spaces
              - cate.posts.where("department_id=?",@department.id).each do |post|
                %li
                  = link_to post.name,post_path(post)
                  %br
                    %span.small.text-muted= post.summary