
<header id="head" class="secondary">
  <div class="container">
    <h1 style="margin-top: 20px;">TIN TỨC</h1>
  </div>
</header>

<section class="container">
  <div class="row" style="margin-top: 35px;">
    <!-- main content -->

    <aside class="col-sm-12 sidebar sidebar-right box-shadow box-radius" >



      <div class="panel">

        <ul class="list-unstyled list-spaces">


          <%  @posttd.each do |tt| %>
              <li><%= link_to truncate(tt.name,:length=>75),posts_show_path(:id=>tt.id) %></li>

              <%= image_tag tt.pic.url ,:class => "pic"%>
              <%= tt.summary%>
              <div style="text-align: right;">
                <%= link_to "Chi Tiết ...",posts_show_path(:id=>tt.id) %>
              </div>

              <div style="clear: both;"></div>
              <h1 style="border-bottom: 1px dotted #ccc"></h1>
          <% end %>
          <div class="flickr_pagination">
            <%= will_paginate @posttd %>
          </div>

        </ul>
      </div>

    </aside>





  </div>
</section>



















